@model ShoppingCardCollection
@{
    ViewData["Title"] = "Index";
}
@if (Model.Products.Count > 0)
{
    <table class="table table-striped">

        <thead>
            <tr>
                <th>
                    Ürün Adı
                </th>
                <th>Fiyat</th>
                <th>Adet</th>
                <th>Ara Toplam</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(
                        item.Quantity * item.Product.Price
                        ) TL</td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Toplam Fiyat: @Model.GetTotalPrice()</td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div class="alert alert-danger">Sepetinizde henüz ürün bulunmuyor.</div>
}
